.modal {
  .modal-header {
    border-bottom: unset;
  }

  .modal-body {
    padding: 0 1rem 1rem 1rem;
  }

  a {
    font-size: 18px;
    font-weight: bold;
    color: #00BAE6;
    text-transform: uppercase;
  }

  p {
    margin: 0 3rem 3rem 3rem;
  }
}

@media (min-width: 1023px) {
  .modal-dialog {
    max-width: 768px;
    margin: 1.75rem auto;
  }
}