$colorBlack: #222;
$colorWhite: #fff;
$colorMain: #fff;

* {
  outline:none !important;
}

.menu-mobile {
  transition: opacity .2s ease-out;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;
  height: 0;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  a {
    display: inline-block;
    text-decoration: none;
  }

  .link {
    color: inherit;
  }

  .list {
    margin: auto;
    padding-bottom: 200px;
    list-style: none;
    color: black;
  }

  li {
    padding: 20px !important;
    background: unset !important;
    line-height: 22px !important;
    z-index: 1001 !important;
    margin: 0 !important;
  }

  .menu-mobile__list {
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    display: none;
    padding-top: 30px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .menu-mobile__group {
    padding: .5rem 3rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu-mobile__group_active {
    background-color: $colorWhite;
    color: $colorBlack;
  }

  .menu-mobile__item {
    padding: 8px 25px;
    display: block;
  }
}

.button--hamburger {
  button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
    color: $colorWhite;
  }

  button.black {
    color: $colorBlack;
  }


  .hamburger {
    position: relative;
    line-height: 1;
    padding: .5em;
    z-index: 90;
  }

  .hamburger:before {
    content: "";
    width: 0px;
    height: 0px;
    background-color: $colorMain;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

  .hamburger__button {
    width: 1.4em;
    height: 1em;
    font-size: 20px;

    position: relative;
    text-indent: -9999px;
    z-index: 999;
  }

  .hamburger__button:before,
  .hamburger__button:after,
  .hamburger__label {
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: currentColor;

    position: absolute;
    left: 0;
  }

  .hamburger__button:before,
  .hamburger__button:after {
    content: "";
  }

  .hamburger__button:before {
    top: 0;
  }

  .hamburger__button:after {
    bottom: 0;
  }

  .hamburger__button:focus {
    outline: none;
  }

  .hamburger__label {
    margin-top: -.1em;
    top: 50%;
  }
}


// .header {
//   box-sizing: border-box;
//   width: 100%;
//   color: var(--colorWhite);

//   display: flex;
//   justify-content: center;

//   position: fixed;
//   bottom: 0;
//   left: 0;
//   z-index: 9998;
// }

/* activated state */

.js-menu_activated {
  overflow: hidden;
}

.js-menu_activated .menu-mobile {
  top: 100px;
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 1;

}

.js-menu_activated .hamburger:before {
  width: 100vh;
  height: 100vh;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu-mobile__list {
  display: block;
  padding-bottom: 200px
}

.js-menu_activated .hamburger__button:before {
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/
.js-menu_activated .menu-mobile {
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.hamburger:before {
  will-change: width, height;
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before {
  transition-duration: 1s;
}

.hamburger__button:before,
.hamburger__button:after {
  transition-property: transform;
}

.hamburger__button:before,
.hamburger__button:after,
.hamburger__label {
  transition-timing-function: ease;
  transition-duration: .15s;
}

.hamburger__label {
  transition-property: transform, opacity;
}

.js-menu_activated .headroom {
  top: 0 !important;
}

.list.menu__list {
  display: none;
}

.js-menu_activated .list.menu__list {
  display: block;
}

.hero-buttons {
  text-align: right;
}

.lang-nav {
  display: flex;
  margin-bottom: 0px;
  padding: 10px 0px;
  background: linear-gradient(107.6deg, #00BAE6 -12%, #52E1BF 103.16%);
  border-radius: 25px;

  li:nth-child(1n) {
    margin-left: 25px;
    margin-right: 15px;
  }

  li:nth-child(2n) {
    margin-left: 15px;
    margin-right: 25px;
  }

  li a.active {
    font-weight: bold;
  }
}

.lang-nav a:after {
  display: none;
}

.subscribe.updates {
  .row {
    margin-top: 20px;
  }

  .social {
    justify-content: space-between;
    display: flex;
  }

  span {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #FFF;
  }

  .footer-quick-links {
    .link {
      font-size: 14px;
      line-height: 17px;
    }

    a {
      text-decoration: none;
      color: white;
      position: relative;
      line-height: 25px;
      display: inline-block;
    }

    a::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted #00bae6;
    }

    a:hover:after {
      display: none;
    }
  }

}






































.headroom .light-paper,
.headroom .white-paper {
  bottom: 0px;
  right: 0px;
  position: relative;
}

.welcome-screen .top-mobile-nav {
  display: none;
}

.top-mobile-nav {
  // width: 50px;
  // height: 50px;
  display: none;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // cursor: pointer;
}

.headroom .top-mobile-nav-item {
  background: #000;
}

.option {
  margin-bottom: 50px;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon-box {
  min-height: 70px;
  vertical-align: middle;
  display: flex;
  margin-bottom: 22px;
}

// .healthcare .row {
//   padding: 50px 0px 20px 0px;
// }

.healthcare-text h2 {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 30px;
  line-height: 65px;
  text-transform: uppercase;
  color: #00BAE6;
}

.healthcare-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
}

.healthcare-text ul {
  margin-left: 30px;
}

.healthcare-text li {
  list-style-type: disc;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #252831;
}

.healthcare .grid-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
  grid-template-areas: ". . ."". . ."". . ."". . .";
  margin-bottom: 50px;
}

.healthcare .grid-container span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.healthcare .grid-container .box {
  text-align: center;
  color: #2F528F;
  padding: 10px;
  border: 2px solid #2F528F;
  box-sizing: border-box;
  border-radius: 10px;
  display: grid;
  display: -ms-grid;
  align-items: center;
  // width: 127px;
  // min-height: 72px;
}

.healthcare .grid-container .box:nth-child(5) {
  border-radius: unset;
}

.healthcare .grid-container .box:nth-child(8) {
  border: none;
}

.devices-title h2 {
  font-family: "Open Sans";
  font-size: 56px;
  line-height: 65px;
  font-weight: normal;
  margin-bottom: 30px;
  color: #00bae6;
}

.devices-text {
  padding-top: 40px;
  padding-left: 40px;

  &-bold {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #252831;
  }

  &-normal {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #252831;
  }
}

.form-subscribe {
  padding: 30px 0px;

  &-title h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    color: #00BAE6;
  }

  &-title p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #00BAE6;
  }

  form {
    position: relative;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border: 3px solid #00BAE6;
    box-sizing: border-box;
    border-radius: 41.5px;
  }

  .subscribe-btn {
    width: 210px;
    height: 80px;
    position: absolute;
    right: 0%;
    background: linear-gradient(160.46deg, #00DEF4 -9.94%, #00BAE6 100%);
    border-radius: 45.5px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;

  }
}

.click-scale {
  transform: scale(2)
}

.healthcare img {
  display: block;
  margin: 100px auto 0 auto;
}
.hidden {
  visibility: hidden;
}

@import "old", "doctors", "new-blocks", "team-new", "partners", "modal", "media";